.singleSpotPage {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    box-sizing: border-box;
    height: fit-content;
}

h1 {
    font-weight: 600;
    font-size: 24;
}

h2 {
    font-weight: 500;
}

.single-spot-name-location {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.getOneSpotImages {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 20%;
    column-gap: 5px;
    padding: 15px 0px;
    justify-content: center;
    /* aspect-ratio: 2/1; */
    position: relative;
    /* z-index: -1; */
}

.preview-image {
    width: 100%;
    height: 350px;
    aspect-ratio: 2/1;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.spotImage2 {
    border-radius: 0 20px 0 0;
}

.spotImage4 {
    border-radius: 0 0 20px 0;
}

.optional-images {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 49% 49%;
    grid-gap: 5px;
    width: 100%;
}

.images:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.optional-images>.images {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.view-single-spot-photos-button {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    border-radius: 10px;
    background-color: white;
    font-size: 14px;
    position: absolute;
    height: 35px;
    right: 30px;
    bottom: 40px;
}

.view-single-spot-photos-text {
    font-size: 14px;
}

.individual-spot-info {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    grid-template-columns: 70% 30%;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.host-info {
    width: 100%;
}

.booking-info-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    padding: 20px;
    row-gap: 10px;
    position: relative;
}

.booking-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 12px;
}

.rating-star-info-single-spot {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
}

.reserve-button {
    width: 100%;
    height: 35px;
    border-color: black;
    background-color: #FF5A5F;
    color: white;
    box-shadow: 3px 3px black;
}

.fa-solid.fa-circle {
    font-size: 2px;
}

.booking-star-rating {
    font-size: 15px;
}

h3 {
    font-weight: 500;
    font-size: 25px;
}

.host {
    padding-bottom: 8px;
}

.star-rating {
    display: flex;
    align-items: center;
}

.rating-info {
    padding-top: 10px;
}

.reserve-button:disabled {
    background-color: #999999;
    cursor: not-allowed;
}

.booking-input-wrapper, .calendar-input-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    border: 1px solid #b0b0b0;
    border-radius: 15px;
}

.calendar-input-wrapper {
    height: 60px;
}

.booking-input-wrapper-wrapper {
    width: 100%;
}

.booking-input-captions-wrapper, .calendar-input-captions-wrapper {
    width: 100%;
    padding: 10px;
}

.calendar-input-captions-wrapper {
    height: fit-content;
}

.booking-input-captions-wrapper:nth-child(1), .calendar-input-captions-wrapper:nth-child(1) {
    border-right: 1px solid #b0b0b0;
}

.booking-input-captions-wrapper>p:nth-child(1) {
    font-size: 12px;
    font-weight: 600;
}

.booking-input-captions-wrapper>p:nth-child(2) {
    font-size: 15px;
}

.calendar-input-captions-wrapper > p{
    font-size: 12px;
    width: 100%;
}

.calendar-input-captions-wrapper > p:nth-child(1) {
    font-weight: 600;
}

.booking-calender-wrapper {
    position: absolute;
    background-color: white;
    width: 600px;
    right: -10px;
    padding: 15px;
    border: 1px solid #b0b0b0;
    border-radius: 15px;
    top: 50px;
}

.rdp-months {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.rdp-month.rdp-caption_start, .rdp-month.rdp-caption_end {
    position: relative;
}

.rdp-caption {
    display: flex;
    justify-content: center;
}

.rdp-month.rdp-caption_start>.rdp-caption {
    flex-direction: row-reverse;
}

.rdp-nav {
    position: absolute;
}

.rdp-nav > button {
    background-color: transparent;
    padding: 5px;
    border-color: transparent;
    border-radius: 50%;
}

.rdp-nav > button:hover {
    background-color: #f7f7f7;
}

.rdp-month.rdp-caption_start > .rdp-caption > .rdp-nav {
    left: 0;
}

.rdp-month.rdp-caption_end > .rdp-caption > .rdp-nav {
    background-color: transparent;
    right: 0;
}

.booking-calender-caption-wrapper {
    display: grid;
    grid-template-columns: 255px 1fr;
    column-gap: 10px;
}

.booking-calender-caption {
    font-size: 23px;
    font-weight: 500;
}

.booking-calender-dates {
    font-weight: 400;
    font-size: 15px;
    color: #8f8f8f;
}

.booking-calendar-wrapper {
    margin-top: 30px;
}

.rdp-table {
    width: 100%;
}

.rdp-head_cell {
    font-weight: 400;
    font-size: 13px;
    color: #737373;
}

.rdp-cell > button:not(.rdp-day_range_start, .rdp-day_range_end, .rdp-day_range_middle) {
    background-color: transparent;
    border-color: transparent;
    padding: 5px;
}

.rdp-cell > button:disabled {
    text-decoration: line-through;
}


.rdp-day_range_start, .rdp-day_range_end {
    color: white;
    background-color: black;
    /* padding: 4px; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.rdp-day_range_middle {
    border-color: transparent;
    width: 100%;
    height: 40px;
    background-color: #f7f7f7;
}

.booking-calender-footer-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    column-gap: 10px;
}

.booking-calender-footer-wrapper > p {
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    padding: 5px;
}

.booking-calender-footer-wrapper > p:hover {
    background-color: #f7f7f7;
    border-radius: 10px;
}

.booking-calender-footer-wrapper > button {
    background-color: black;
    color: white;
    width: 60px;
    border-radius: 10px;
    border-color: transparent;
}

.booking-input-button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #dd1062;
    font-weight: 800;
    border-color: transparent;
    color: white;
    border-radius: 10px;
}

.booking-info-preview-wrapper {
    display: grid;
    row-gap: 10px;
    justify-items: center;
    width: 100%;
}

.booking-info-preview-wrapper > p {
    font-size: 14px;
}

.booking-info-preview-wrapper > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.booking-service-fee {
    border-bottom: 1px solid #b0b0b0;
    padding-bottom: 10px;
}