.all-spots-page-spot-wrapper {
    max-width: 280px;
    min-width: 150px;
    height: 60%;
    box-sizing: border-box;
    padding-bottom: 20px;
    width: 100%
}

.all-spots-page-spot-wrapper > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.all-spots-page-spot-wrapper:hover {
    cursor: pointer;
}

.get-all-spots-location-stars {
    display: flex;
    justify-content: space-between;

}

.spot-info-wrapper {
    display: grid;
    grid-template-rows: 30px 30px;
    row-gap: 5px;
    padding-bottom: 25px;
}

p {
    font-size: 16px;
}

.all-spots-bold {
    font-weight: bold;
}