.all-spots-page-spot-wrapper {
    max-width: 300px;
    min-width: 150px;
    max-height: 400px;
    min-height: 200px;
    box-sizing: border-box;
    padding-bottom: 20px;
    width: 100%;
}

.all-spots-page-spot-wrapper > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.all-spots-page-spot-wrapper:hover {
    cursor: pointer;
}

.get-all-spots-location-price {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
}

.all-spots-location{
    display: flex;
    flex-wrap: wrap;
}

.all-spot-info-wrapper {
    display: flex;
    justify-content: space-between;
}

.all-spots-stars{
    display: flex;
    width: 20%;
}

p {
    font-size: 16px;
}

.all-spots-page-bold {
    font-weight: 500;
}